.profilesettingsNav{
    background-color: rgba(240, 244, 252, 1);
    height: 40px;
    width: 1040px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    font-weight: 700;
    position: fixed;
    z-index: 13;
  }
  .profilesettingsNav a{
    color: #000;
  }
  .icon{
    margin-left: 5px;
    margin-right: 5px;
  }

/* Profile settings navigation */
.profileSettingsNav{
    display: flex;
    align-items: center;
    background-color: #F0F4FC;
    width: 1040px;
    height: 44px;
    padding-left: 10px;
}

.profileSettingsNav a{
    text-decoration: none;
    color: #010E2A;
    font-size: 14px;
    font-weight: 700;
}

.arrowFoward{
    height: 15px;
    width: 10px;
    padding: 5px;
}
.settings_btn{
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    max-height: 45px;
    justify-content: space-between;
    padding: 40px 15px 23px 15px;
    width: 1040px;
    background-color: #FFFFFE;
    z-index: 3;
    margin-top: 4rem;
}
.settings_btn_container{
    background-color: #FFFFFE;
    z-index: 3;
    position: fixed;  
}

.activeSetting{
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 14px 20px;
    border-bottom: 4px solid white;
    color: #010E2A;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.userProfile_settings_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1040px;
    margin-top: 8rem;
    padding: 20px 0px 15px 0px;
}
/* .user_parent_switch{
    margin-top: 5rem;
    margin-bottom: -20rem;
} */


/* User block */
.displayPhoto {
    display: flex;
    align-items: center;
    position: relative;
}

.camera{
    position: absolute;
    left: 7.5rem;
    margin-top: 50%;
    color: white;
    background-color: #04297F;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding: 4px;
    font-size: 20px;
}

.avatar{
    border-radius: 50%;
}

.noPhoto{
    width: 140px;
    height: 140px;
    font-weight: lighter;
}

.user_block{
    display: flex;
    align-items: center;
}

/* .about_block{
    background: #F5F5F5;
    height: 20px;
    width: 30px;
} */

.about_user{
    margin-left: 10px;
    /* background: #F0F4FC; */
    padding: 28px 132px 28px 34px;
}

.about_user h3{
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 13px;
}

.about_user p{
    color: #010E2A;
    font-size: 14px;
    font-style: normal;
    font-weight: 00;
    line-height: 20px;
    margin-top: -10px;
    margin-bottom: 10px;
    
    
}

.role{
    margin-left: 15px;
}

/* .status{
    margin-left: 5px;
    color: #297F04;
} */

button{
width: 85px;
height: 40px;
border: 0.5px solid #010E2A;
border-radius: 8px;
}

/* form */
/* .User_form{
    display: flex;
} */
.User_form_header{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 20px;
}

.profileForm{
    display: flex;
    margin-bottom: 30px;
    width: 900px;
    /* background-color: #0744D3; */
    justify-content: space-between;
}
/* .user_input_block{
    
    margin-top: 6rem;
    margin-left: -8rem;
} */

.user_input_block_one, .user_input_block_two{
    width: 456px;
    margin-right: 10px;
}
.user_input_block_one_one{
    margin-bottom: -6rem;
}

.user_wrapper{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; 
}

.user_wrapper label{
    margin-bottom: 5px;
    font-weight: 500;
}

.user_wrapper input, .user_wrapper span{
    width: 350px;
    padding: 7px;
    border-radius: 5px;
    outline: none;
    border: 0.5px solid #EBEBEB;
    color: #999CA0;
    font-size: 16px;
    /* background-color: #0744D3; */
}

 /* .user_wrapper h4{
    font-size: 13px;
    font-weight: 700;
    padding-bottom: 5px;
} */
.user_input_block{
    display: flex;
}
.user_wrapper p{
    width: 290px;
    /* height: 40px; */
    outline: none;
    background: #FFFFFF;
    border: 0.5px solid #EBEBEB;
    border-radius: 8px;
    padding: 10px;
    color: #999CA0;
    font-size: 14px;
}

/* .user_wrapper input::placeholder{
    color: #999CA0;
    padding: 8px 16px 8px 16px;
    font-size: 14px;
} */

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}


.toggle_active{
    width: 85px;
    height: 30px;
    border: 1px solid #0744D3;
    background: #0744D3;
    border-radius: 8px;
    color: white;
}

.save_profile_btn{
    width: 77px;
    height: 33px;
    border: 1px solid #0744D3;
    background: #0744D3;
    border-radius: 5px;
    color: white;
    margin-left: 963px;
}
.save_profile_btn_container{
    margin-top: -1rem;
    margin-bottom: 1rem;
}
