.profile_container {
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 120px;
  padding: 15px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid grey;
  z-index: 999;
  height: 250px;
}
.picon {
  position: absolute;
  left: 7.9rem;
  width: 20px;
  margin-top: -7px;
  color: black;
}

.picon .fix {
  background-color: lightgray;
}

.picon .fix:hover {
  background: #f0f4fc;
  border-radius: 5px;
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.pro_list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 1rem;
}

.pro_list ul {
  display: flex;
  flex-direction: column;
  margin-left: -1rem;
  list-style: none;
  gap: 4px;
  width: 40px;
  margin-top: 2rem;
}

.pro_list a {
  text-decoration: none;
  margin-left: -3rem;
  margin-bottom: 5px;
  margin-left: -21px;
  font-size: 14px;
  color: black;
  font-weight: bold;
  padding: 5px 0;
  width: 110px;
}

.pro_list a:hover {
  background: #f0f4fc;
  border-radius: 12px;
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
}

/* Dropdown Notification */

.notify_container {
  position: absolute;
  top: 5rem;
  right: 8.5rem;
  border-radius: 8px;
  background-color: white;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  z-index: 999999;
  padding: 10px;
}

.notify {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  height: 45px;
  padding: 5px;
}

.notify :nth-child(2) {
  background-color: lightgray;
  cursor: pointer;
}

.notify :nth-child(2):hover {
  background: #f0f4fc;
  border-radius: 5px;
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.notify_links {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
  padding: 5px;
}

.notify_links li {
  list-style: none;
  color: black;
  font-weight: bold;
  font-size: 14px;
}

.notify_links a {
  text-decoration: none;
}

.notify_links .active {
  border-bottom: 1px solid black;
}

.notify_popout {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding-right: 55px;
  font-size: 14px;
  margin-bottom: 5px;
}

.notify_popout .active {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0744d3;
}

.notify_popout img {
  width: 35px;
  border-radius: 50%;
}
.notify_notice {
  margin-bottom: 2rem;
}

.notify_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  padding-bottom: 1rem;
  border-top: 1px solid lightgrey;
}

.notify_footer .footer1 {
  display: flex;
  text-align: start;
  padding-right: 25px;
  align-items: center;
  gap: 10px;
}

.footerIcon {
  font-size: 20px;
}
.footer1 p {
  display: flex;
  color: blue;
  align-items: center;
  gap: 0px;
  font-size: 14px;
}

.footer1 p .footerIcon {
  line-height: 100px;
  font-size: 25px;
}

.notify_footer .footer2 .button {
  background-color: #0744d3;
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  color: white;
  font-weight: 100;
  cursor: pointer;
  width: 190px;
  font-size: 14px;
}

.notify_footer .footer2 .button:hover {
  background-color: #04399f;
}

/* message  */
.msg_container {
  position: absolute;
  top: 5rem;
  right: 10.9rem;
  border-radius: 8px;
  background-color: white;
  border: 1px solid grey;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: black;
  z-index: 999999;
}

.msg {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -10px;
  height: 45px;
  padding: 5px;
}

.msg :nth-child(2) {
  background-color: lightgray;
  cursor: pointer;
}

.msg :nth-child(2):hover {
  background: #f0f4fc;
  border-radius: 5px;
  color: black;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.msg_links {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 10px;
}

.msg_links li {
  list-style: none;
  color: black;
  font-weight: bold;
}
.msg_links a {
  text-decoration: none;
  padding: 5px;
  border-bottom: 1px solid grey;
}

.msg_popout {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  gap: 12px;
  padding-right: 25px;
}
.hr {
  border: 1px solid rgb(190, 187, 187);
  border-bottom: none;
  border-left: none;
  border-right: none;
}
.msg_popout .active {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0744d3;
}
.msg_popout img {
  width: 35px;
  border-radius: 50%;
}

.notify_footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -19px;
}

.notify_footer .footer1 {
  display: flex;
  text-align: start;
  padding-right: 25px;
  align-items: center;
  gap: 10px;
}
.msg_footer {
  margin-top: 2rem;
}
.btn {
  align-items: center;
  padding: 10px;
}

.msg_footer .button {
  background-color: #0744d3;
  border: none;
  padding: 10px 12px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  cursor: pointer;
  width: 190px;
  font-size: 14px;
  font-weight: 100;
}

.msg_footer .button:hover {
  background-color: #04399f;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
}
