.messageNav{
    background-color: rgba(240, 244, 252, 1);
    height: 40px;
    width: 1040px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    font-weight: 700;
    position: fixed;
    z-index: 13;
}
.messageNav a{
    color: #000;
}
.icon{
    margin-left: 5px;
    margin-right: 5px;
}
.usersListCon {
    display: flex;
    flex-direction: column;
    height: 600px;
    align-items: center;
    margin-top: 3rem;
    }
.userList{
    display: flex;
    align-items: center;
}
.userList_texts{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.userList_text1{
    display: flex;
    justify-content: space-between;
    width: 900px;
    align-items: center;
}
.userList img{
    border-radius: 50%;
    height: 70px;
    width: 70px;
    padding: 10px;
}
.userList h5{
    display: flex;
    font-size: 15px;
    color: rgb(49, 45, 45);
}
a{
    text-decoration: none;
}
.userList_texts p{
    font-size: 14px;
    font-weight: 300;
    color: #8D8787;
}
::-webkit-scrollbar{
    display: none;
  }
.userList_text1{
    margin-bottom: 10px;
}
.userList_texts{
    border-bottom: 1px solid rgb(252, 249, 249);
}


/* for text */
.avatar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.flexEnd {
    display: flex;
    justify-content: flex-end;
  }
  .flexEnd .avatar {
    margin-right: 0;
    margin-left: 10px;
  }
  .flexStart {
    display: flex;
    justify-content: flex-start;
  }
  .flexStart .avatar {
    margin-left: 0;
    margin-right: 10px;
  }
.message01{
    max-width: 550px;
    display: flex;
    /* background-color: green; */
    align-items: center;
}
.text_messages_container{
    display: flex;
    word-wrap: break-word;
    flex-wrap: wrap;
    overflow-wrap: break-word;
    word-break: break-all;
    margin-left: 1rem;
    margin-top: 5px;
}
.text_messages{
    background-color: rgba(240, 244, 252, 0.8);
    border-radius: 5px;
    display: flex;
    height: 100%;
    line-height: 30px;
    align-items: center;
    padding: 5px;
    margin: 10px;
}
.user_Msg {
    position: fixed;
    margin-top: 1rem;
}
.message__container1{
    height: 500px;
    overflow-y: scroll;
    width: 1040px;
    /* background-color: red; */

}
.user_Msg{
    width: 1040px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    border: 1px solid grey;
    border-radius: 5px;
    align-items: center;
    padding: 10px;
}
.user_Msg_input{
    width: 900px;
    border: none;
    outline: none;
    height: 3rem;
    font-size: 18px;
}
.user_Msg_input_icons{
    display: flex;
    justify-content: space-between;
    width: 65px;
    font-size: 25px;
}
.user_Msg_input_icon{
    font-size: 25px;
}

/* .emojiPickerContainer{
    position: absolute;
    top: -26rem;
    left: 20rem;
} */