.clientsblock{
  /* margin-top: -10px; */
  z-index: 6;
  margin-top: 12rem;
  /* margin-left: -1.7rem; */
  /* padding-top: 1rem; */
  background-color: white;
  /* height: 400px; */
  width: 1040px;
}
.clientsdata___block{
  background-color: white;
  /* background-color: pink; */
color: white;
margin-top: -1rem;
  position: fixed;
  width: 1040px;
}
  .clientsdata{
      display: flex;
    width: 1040px;
      /* border: 0.5px solid rgb(145, 134, 134); */
    border: 0.5px solid #6A8FE5;
      align-items: center;
      color: black;
    /* margin-left:.0rem; */
  background-color: white;
  /* background-color: red; */
  border-radius: 5px;
  justify-content: space-between;

  position: fixed;
  height: 3rem;
  }  
  .clientsdata011{
    display: flex;
    width: 1040px;
      /* border: 0.5px solid rgb(145, 134, 134); */
    border: 0.5px solid #6A8FE5;
      align-items: center;
      color: black;
    margin-left:.4rem;
  background-color: white;
  /* background-color: red; */
  border-radius: 5px;
  justify-content: space-between;

  position: fixed;
  height: 3rem;
  }
  .clientsdata011 h3{
    font-size: 14px;
    font-weight: 700;
    color: black;
    width: 156px;
    margin-right: .6rem;
}
  .Loan__Status{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 20px;
}
.Loan__Status1{
  color: white;
  /* font-size: 10px; */

    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
    border-radius: 20px;
}
  .clientsdata h3{
      font-size: 14px;
      font-weight: 700;
      color: black;
      width: 156px;
      margin-right: .6rem;
  }
  .checkboxIcon_1{
    padding: 0px 4px;
    margin: 0px 9px;
  color: black;
  margin-left: .4rem;
  }
  .checkbox_12{
    margin: 0px 21px;
  margin-left: .8rem;
  color: black;
  background-color: black;
  width: 19px;
  }
  .checkbox{
      padding: 0px 4px;
      margin: 0px 9px;
    color: black;
    margin-left: .4rem;
  }
  .checkbox2{
    padding: 0px 4px;
      margin: 0px 11px;
    margin-left: .8rem;
    color: black;
    background-color: black;
    width: 19px;
  }




  /* client info */

.clientContainer_block_block_block{
  padding-top: .5rem;
  /* margin-top: 10rem; */
}
  .clientinfo{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
    /* margin-top: 8rem; */
    padding: 25px 0px;
    background-color: #F0F4FC;
    margin-bottom: 15px;
}
.clientinfo__All{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5vh;
    /* margin-top: 8rem; */
    padding: 25px 0px;
    font-size: 14px;

    background-color: #F0F4FC;
    margin-bottom: 15px;
}
.clientinfo__All div{
  width: 1200vw;
    width: 13%;
    font-size: 14px;
    color: #010e2a;
    font-weight: 500;
}

.clientinfo:hover{
  background-color: #8fa4d3;

}
.clientinfo__All:hover{
  background-color: #8fa4d3;

}
.clientContainer{
  /* top: 12rem; */
  margin-top: 3.5rem;
}
.clientinfo div{
    width: 1200vw;
    width: 14%;
    font-size: 14px;
    color: #010e2a;
    font-weight: 500;
    /* margin-top: 8rem; */
}
.clientinfo div:nth-child(7){
  /* background-color: red */
  width: 80px;
  font-size: 10px;

  margin-right: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
}
  .darkPinkText {
    color: rgb(240, 9, 86); /* Set the desired text color for id=8 */
  }
  
  .approvedBackground {
    color: #F0F4FC;
  }

.input{
    width: 30px;
    margin-right: -10px;
}
.checkbox{
    color: black;
    /* background-color: black; */
    width: 19px;
    margin-left: -.4rem;
}
.checkboxIcon{
    color: black;
    margin-left: -.5rem;

}
.checkbox11{
  width: 19px;
  margin-left: .7rem;
}