.clientNav {
  background-color: rgba(240, 244, 252, 1);
  height: 40px;
  width: 1040px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-weight: 700;
  position: fixed;
  z-index: 13;
}
.clientNav a {
  color: #000;
}
.icon {
  margin-left: 5px;
  margin-right: 5px;
}

.details_client_client {
  display: flex;
  flex-direction: column;
  justify-content: left;
  background-color: blue;
  margin-top: 4rem;
  background-color: #fffe;
  width: 1040px;
  position: fixed;
  z-index: 3;
}
.component1_client_block {
  display: flex;
  width: 1040px;
  justify-content: space-between;
}
.component1_client {
  display: flex;
  gap: 20px;
  margin-right: 80px;
}
.component101 {
  display: flex;
  align-items: center;
  border: 0.5px solid #6a8fe5;
  border-radius: 5px;
}
.component2 {
  display: flex;
  gap: 20px;
}

.search {
  outline: none;
  border: none;
  background: transparent;
  padding-left: 1rem;
  width: 25rem;
  height: 48px;
  cursor: pointer;
  font-size: 16px;
}

.search:focus {
  outline: none;
}

.search::placeholder {
  font-size: 16px;
  font-weight: 500;
  color: rgb(112, 121, 142);
}

.searchicon {
  margin-left: 7px;
  font-size: 23px;
  color: #6a8fe5;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 150px;
  border: 0.5px solid #6a8fe5;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px;
  font-weight: 500;
  font-size: 15px;
  height: 50px;
  color: rgb(112, 121, 142);
  cursor: pointer;
}

.funnel {
  color: #6a8fe5;
  font-size: 25px;
}

.print {
  width: 100px;
  border-radius: 5px;
  border: 0.5px solid #6a8fe5;
  background-color: transparent;
  font-weight: 700;
  height: 50px;
  color: rgb(112, 121, 142);
}

.print:focus {
  outline: none;
}
.print:hover {
  background-color: #04297f;
  color: white;
  border: 0.5px solid #04297f;
}

.export {
  background-color: #04297f;
  border: 0.5px solid #04297f;
  width: 130px;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  height: 50px;
}

.export:focus {
  outline: none;
}

.export:hover {
  background-color: #fffe;
  color: #04297f;
  border: 0.5px solid #6a8fe5;
  /* border: 0.5px solid #04297f; */
}
.filter_dropdown {
  position: relative;
}

.filterButtonArea {
  display: flex;
  width: 120px;
}

.dropdown_menu {
  color: white;
  position: absolute;
  left: 70px;
  top: calc(100% + 0.25rem);
  background-color: blue;
  font-size: 12px;
  padding: 5px;
  border-radius: 3px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.9);
  /* pointer-events: none; */
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  width: max-content;
}

.drpdwn_opacity {
  opacity: 0;
}

.drpdwn_opacity2 {
  opacity: 1;
}

.filter_items {
  margin-left: 5px;
}

ul .filter_items:hover {
  background: white;
  color: #0744d3;
  cursor: pointer;
}

.cancel {
  font-size: 24px;
  background-color: white;
  color: blue;
  margin-right: -20px;
}

.cancel:hover {
  cursor: pointer;
  color: black;
}
.cancel2:hover{
  background-color: #d9d9d9;
  border-radius: 5px;
}
.select_format {
  border: 5px solid white;
  position: absolute;
  z-index: 2;
  background-color: white;
  margin-top: 15px;
  margin-left: -30px;
  border-radius: 5px;
  padding: 0px 0px 10px 4px;
  height: max-content;
  box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.options:hover{
  background-color: #d9d9d9;
  border-radius: 15px;
}
.format_text {
  /* border: 1px solid black; */
  border: 0.5px solid #6A8FE5;

  border-radius: 20px;
  height: 34px;
  width: 120px;
  font-size: 12px;
  color: black;
  font-weight: 600;
  text-align: center;
  align-content: center;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
}

.cancel2 {
  margin-left: 107px;
  font-size: 20px;
}

.select_options {
  background-color: white;
  border-radius: 5px;
  border-top: transparent;
  margin-top: 10px;
  align-self: center;
}
.select_options p {
  border-radius: 5px;
  border-top: transparent;
  align-self: center;
  margin-bottom: 10px;
  font-size: 12px;
  font-weight: 700;
}

.options {
  padding: 5px 10px;
  list-style-type: none;
}
.client_table {
  height: 500px;
  overflow-y: scroll;
  overflow-x: hidden;
}

/* table {
  width: 980px;
  border-collapse: collapse;
  height: max-content;
  cursor: pointer;
  scroll-behavior: smooth;
  margin-top: 5rem;
} */

/* table th {
  text-align: left;
} */
.client_info {
  width: 1040px;
}
.clientinfo {
  cursor: pointer;
}

.check {
  width: 15px;
  margin-left: 0.5rem;
  accent-color: black;
}
/* table tbody {
  overflow-y: scroll;
} */

.loan_list {
  font-weight: bold;
}

.clientsblock {
  margin-top: 1rem;
    background-color: #fffe;
}
.statusDot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
.clientsdata {
  display: flex;
  border: 0.5px solid #6A8FE5;
  align-items: center;
  justify-content: space-between;
  color: black;
  height: 3rem;
  border-radius: 5px;
}

.clientsdata h3 {
  font-size: 16px;
  font-weight: 600;
  color: rgba(12, 12, 12, 0.933);
  width: 156px;
  margin-right: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.clientsdata h3:nth-child(5) {
  width: 140px;
}
.checkbox {
  padding: 0px 4px;
  margin: 0px 9px;
}
.checkbox2 {
  padding: 0px 4px;
  margin: 0px 11px;
  margin-left: 1.2rem;
  width: 19px;
}
.ClientInfo_Block_Container {
  width: 1040px;
  display: flex;
  flex-direction: column;
}
.clientinfo__client {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #f0f4fc;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  height: 50px;
  width: 1040px;
  overflow-x: hidden;
}
.clientinfo__client:hover {
  background-color: #8fa4d3;
}
.clientinfo__client a {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1040px;
  color: #000;
  align-items: center;
}
.clientinfo__client a div {
  width: 13%;
  font-size: 14px;
}
.clientinfo__client div:nth-child(3) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
}
.dotandtext span {
  background-color: blue;
}
.dotandtext div {
  background-color: red;
}
.clientinfo2 {
  font-weight: lighter;
}
.clientinfo__client div:nth-child(1) {
  margin-left: 0.9rem;
}
.clientinfo__client div:nth-child(4) {
  width: 10%;
  margin-right: 6rem;
  margin-left: 2rem;
}
.input {
  width: 30px;
  margin-right: -10px;
}
.checkbox {
  accent-color: black;
  width: 19px;
}
.actualStatus {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.6rem;
  border-radius: 20px;
}
.checkboxIcon_1_client{
  margin-left: 1rem;
  margin-right: 1rem;
}