.nav_container{
    height: 60px;
    /* border: 1px solid black; */
    position: fixed;
    /* width: 1440px; */
    width: 100vw;
    background: #FFFFFE;
    display: flex;
    justify-content: center;
    z-index: 99;
}

/* .nav_container {
    position: fixed;
    background: #FFFFFE;
    align-items: center;
    grid-area: navbar;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFE;
    padding: 24.5px;
    margin-top: -1rem;
    margin-left: -1rem;
    width: 1325px;
    height: 86px;
    z-index: 1;
    border: 1px solid black;
} */

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    width: 100%;
    background-color: white;
    /* left: calc(50% - 1325px/2 - 26.5px); */
    /* background-color: rgb(202, 168, 168); */
}

.nav .links {
    width: 120px;
    display: flex;
    justify-content: space-between;
    /* margin-right: 24px; */
    margin-right: 5rem;
    align-items: center;

}

.logo{
    margin-left: 3rem;
}

.logo img {
    width: 100px;
}

.nav_icon {
    font-size: 25px;
    color: #04297F;
}

.links .profile_pic img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid #04297F;

}