.reset_holder{
    display: flex;
    align-items: center;
    width: 100%;
    height: max-content;
    background-color: rgba(240, 244, 252, 0.8);
    overflow-y: hidden;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
}
.reset_holder_section{
    width: 100vw;
    height: 100vh;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 13rem;
    margin: 0;
    padding: 0;
}
.reset__whole{
    position: relative;

}
.forgot_input::placeholder{
    font-size: 14px;
    font-weight: 600;
}
.sideimg{
    height: 750px;
  width: 498px;
}

.reset_details{
    display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Helvetica";
  position: relative;
  z-index: 2;
}
.reset_text{
    font-family: Helvetica;
    font-size: 30px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    height: 24px;
    margin-bottom: 3rem;
}
.reset_text h1{
    align-self: center;
    font-size: 25px;
}

.reset_logo{
    /* margin-left: -6rem; */
    left: -9rem;
    /* height: 220px; */
    width: 150px;
    position:absolute;
    margin-top: -9rem;
    /* background-color: red; */
    /* top: 13rem; */
}
.editPopUp_form{
    background: #F0F4FC;
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
    padding: 35px;
    position: fixed;
    margin: 0rem 20rem 0rem 17rem;
    padding-top: 8rem;
    width: 400px;
}
.reset__input{
    height: 54px;
    width: 500px;
    align-items: center;
    display: flex;
    align-self: center;
    outline: none;
    border: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    position: relative;
}
.editPasswordBlock{
    height: 54px;
    width: 500px;
    align-items: center;
    display: flex;
    align-self: center;
    outline: none;
    border: none;
    font-size: 18px;
    border-radius: 8px;
    position: relative;
}
.reset__input::placeholder{
    font-weight: 600;
    font-size: 16px;
}
.reset__input:focus {
    border: 0.5px solid #6a8fe5;
  }

  .reset_code{
    height: 54px;
    width: 500px;
    align-items: center;
    display: flex;
    align-self: center;
    outline: none;
    border: none;
    padding: 20px;
    font-size: 18px;
    border-radius: 8px;
    position: relative;
  }
.reseteditPasswordBlock__icon{
    font-size: 20px;
    margin-right: 1rem;
    right: 0;
    position: absolute;
    cursor: pointer;
}
.changePasswordBtn{
   background-color: #010E2A;
   color: white;
   border: 1px solid #010E2A;
    width: 500px;
    cursor: pointer;
    height: 57px;
    font-weight: 700;
  font-size: 16px;
  border-radius: 5px;
    margin-top: .7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.changePasswordBtn:hover{
    background-color: #021641;
}
.editPopUp_header_text{
    margin-bottom: -3rem;
    font-size: 18px;
    font-weight: 800;
}
.error{
    font-size: 12px;
    max-width: 300px;
    margin-bottom: .7rem;
}

.resetpasswordWrapper{
    display: flex;
  flex-direction: column;
  gap: 10px;
  width: 500px;
  border: transparent;
  outline: none;
  transition: all 0.5s;
    /* background-color: green; */
}
