.holder{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: fixed;
    /* grid-template-columns: 480px auto; */
    gap: 140px;
    background-color: rgba(240, 244, 252, 0.8);
    /* padding: 0px 25px 40px; */
    

}
.forgotPwdText{
    margin-top: -12px;
    margin-bottom: .1rem;
    margin-right: 13rem;
    color: rgb(194, 189, 189);
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}
.forgot_input::placeholder{
    font-size: 14px;
    font-weight: 600;
}
.sideimg{
    height: 100vh;
    width: 490px;
}

.reset_details{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-self: center;
    /* margin-left: 200px; */
    justify-content: center;
    align-items: center;
    font-family: 'Helvetica';
    position: relative;
    z-index: 2;
    width: 350px;
    margin-left: -3rem;
    /* background-color: green; */

    /* margin-left: -160px; */

}
.reset_text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(2, 2, 42);
    /* background-color: red; */
}

.reset_text h1{
    align-self: center;
    font-size: 25px;
    /* background-color: blue; */
}

.logo{
    height: 220px;
    width: 150px;
    background-color: transparent;
    margin-top: -4rem;
    margin-left: -115px;
}


.editPopUp_form{
    background: #F0F4FC;
    border-radius: 5px;
    color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
    padding: 35px;
    position: fixed;
    margin: 0rem 20rem 0rem 17rem;
    /* margin: 0 auto; */
    /* height: 1400px; */
    /* justify-content: center; */
    /* margin-top: 3rem; */
    padding-top: 8rem;
    width: 400px;
}
.editPopUp_header h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
/* .editPopUp_change_psw{
    
} */
.close{
    display: flex;
    justify-content: end;
}

.close img{
    position: absolute;
    top: 15px;
    right: 15px;
}

.editPasswordBlock{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px;
    border: 1px solid black;
    max-width: 340px;
    background: #FFFFFE;
    border-radius: 5px; */
    /* border: 0.5px solid #FFFFFE; */
}

.editPasswordBlock, .editPasswordBlock_diff{
    margin-bottom: 10px;
    /* border: 1px solid black; */
    max-width: 340px;
    background: #FFFFFE;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
    border-radius: 5px;
    /* background-color: #EBEBEB; */
}
.editPasswordBlock_diff{
    width: 331px ;
}
/* .editPopUp_change_psw{
    margin-left: -3rem;
} */
.editPasswordBlock input, .editPasswordBlock_diff input{
    width: 288px;
    /* height: 40px; */
    outline: none;
    /* border: 0.5px solid #EBEBEB; */
    /* background-color: #EBEBEB; */
    border: none;
    padding: 25px 0px;
    margin: 0px 9px;
    height: 20px;
    font-size: 14px;
    /* height: 35px;
    width: 270px;
    padding: 10px; */
}
.editPasswordBlock__icon{
    /* background-color: red; */
    /* padding: 5px; */
    font-size: 20px;
    margin-right: 1rem;
}
.editPasswordBlock input::placeholder, .editPasswordBlock_diff input::placeholder{
   font-weight: 700;
   font-size: 14px;
   /* line-height: 24px; */
   color: #717070;
   padding: 16px 0px 16px 0px;
}

.changePasswordBtn{
   background-color: #010E2A;
   color: white;
   border: 1px solid #010E2A;
    /* padding: 15px 15px; */ 
    padding: 16px 0px 33px 16px;
    width: 335px;
    cursor: pointer;
    margin-top: .7rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.changePasswordBtn:hover{
    background-color: #021641;
}
.editPopUp_header_text{
    margin-bottom: -3rem;
    font-size: 18px;
    font-weight: 800;
}
.error{
    font-size: 12px;
    max-width: 300px;
    margin-bottom: -10px;
}

.passwordWrapper{
    margin-bottom: 20px;
}
