.editPopUp_form{
    background: #F0F4FC;
    color: black;
    padding: 35px;
    /* margin: 4rem 20rem 0rem 17rem; */
    /* padding: 4rem; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.editPopUp_header_text h4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 30px;
}

.editPopUp_header {
    margin-top: 8rem;
}
.editPopUp_change_psw{
    background-color: blue;
}
.close{
    display: flex;
    justify-content: end;
}

.close img{
    position: absolute;
    top: 15px;
    right: 15px;
}

.editPasswordBlock{
    display: flex;
    align-items: center;
    justify-content: center;
}

.editPasswordBlock, .editPasswordBlock_diff{
    margin-bottom: 10px;
    max-width: 440px;
    background: #FFFFFE;
    border-radius: 5px;
}
.editPasswordBlock_diff{
    /* width: 331px ; */
}

.editPasswordBlock input, .editPasswordBlock_diff input{
    width: 388px;
    outline: none;
    border: none;
    padding: 25px 0px;
    margin: 0px 9px;
    height: 20px;
}
.editPasswordBlock__icon{
    font-size: 20px;
    margin-right: 15px;
}
.editPasswordBlock input::placeholder, .editPasswordBlock_diff input::placeholder{
   font-weight: 700;
   font-size: 14px;
   color: #717070;
   padding: 16px 0px 16px 0px;
}

.changePasswordBtn{
   background-color: #010E2A;
   color: white;
   border: 1px solid #010E2A;
    /* padding: 16px 0px 33px 16px; */
    width: 440px;
    cursor: pointer;
    height: 60px;
    margin-top: 1rem;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.4s ease, color 0.3s ease, box-shadow 0.3s ease;
}
.changePasswordBtn:hover{
    background-color: #021641;
}
.editPopUp_header_text{
    margin-bottom: -3rem;
    font-size: 18px;
    font-weight: 800;
}
.error{
    font-size: 12px;
    max-width: 300px;
    margin-bottom: -10px;
}

.passwordWrapper{
    margin-bottom: 20px;
}
