.holder{
    /* width: 100vw;
  height: max-content;
  overflow-y: hidden;
  overflow-x: hidden;
    display: flex;
    gap: 140px;
    background-color: rgba(240, 244, 252, 0.8); */
    display: flex;
  align-items: center;
  width: 100%;
  height: max-content;
  background-color: rgba(240, 244, 252, 0.8);
  overflow-y: hidden;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-between;

}
.holder_body{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10rem;
  /* justify-content: center; */
}
.forgotPwdText{
    color: rgb(194, 189, 189);
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
}
.forgot_input::placeholder{
    font-size: 14px;
    font-weight: 600;
}
.sideimg{
    height: 750px;
    width: 498px;
}

.forgot_details{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Helvetica";
  position: relative;
  z-index: 2;

}
.right_side{
    display: flex;
    align-items: center;
    justify-content: center;
}
.forgot_text{
  font-family: Helvetica;
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  height: 24px;
  margin-bottom: 50px;
}
.errMsg {
  color: red;
  /* margin-top: 4rem; */
  font-size: 8px;
  position: absolute;
  top: 8rem;
  bottom: 0;
  
  /* margin-bottom: 10px; */
}
.email_input{
  display: flex;
  flex-direction: column;
  width: 500px;
  border: transparent;
  outline: none;
  transition: all 0.5s;
  margin-bottom: 1.2rem;
  /* background-color: green; */
}

.forgot_input{
    height: 54px;
  width: 500px;
  align-items: center;
  display: flex;
  align-self: center;
  outline: none;
  border: none;
  padding: 20px;
  font-size: 18px;
  border-radius: 8px;
  /* margin-top: 3rem; */
  /* background-color: red; */

}
.forgot_input:focus{
  border: 0.5px solid #6a8fe5;

}

.reset_btn{
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: rgb(2, 2, 42);
    cursor: pointer;
    border-radius: 5px;
    width: 500px;
    height: 52px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Helvetica;
    border: none;
    font-size: 18px;
    font-weight: 700;
}

.errMsg{
    color: red;
    font-size: 14px;
    /* padding: 5px; */
    padding-bottom: .5rem;
    margin-top: 5px;
    margin-left: .5rem;
}

.right_side ._logo_forgot{
    height: 220px;
    width: 150px;
    background-color: transparent;
    margin-top: -35.5rem;
    margin-left: -96px;
}

.reveal{
    position: absolute;
    z-index: 2;
    border: none;
    background: transparent;
    font-size: 20px;
    background-color: blue;
}

.reset_link{
    color: #0744D3;
    font-size: 13px;
    font-weight: 700;
    margin-top: 18px;
    display: flex;
    align-self: center;
    justify-content: center;
    cursor: pointer;
}