.userPermissionNav{
  background-color: rgba(240, 244, 252, 1);
  height: 40px;
  width: 1040px;
  display: flex;
  align-items: center;
  padding-left: 8px;
  font-weight: 700;
  position: fixed;
  z-index: 13;
}

.userPermissionNav a{
color: #000;
}

.icon{
margin-left: 5px;
margin-right: 5px;
}

.settings_btn{
  border: 1px solid #000000;
  display: flex;
  align-items: center;
  max-height: 45px;
  justify-content: space-between;
  padding: 40px 15px 23px 15px;
  width: 1040px;
  background-color: #FFFFFE;
  z-index: 3;
  margin-top: 4rem;
}
.settings_btn_container{
  background-color: #FFFFFE;
  z-index: 3;
  position: fixed; 
}

.checkbox_setting2{
  width: 15px;
}

.activeSetting{
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 14px 20px;
    border-bottom: 4px solid white;
    color: #010E2A;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.loans {
    width: 1040px;
    /* background-color: red; */
    /* margin-top: -2rem; */
    height: 550px;
    margin-top: 9rem;
  }
  
  .loanheader {
    /* position: fixed; */
    /* top: 266.5px; */
    /* left: 264px; */
    /* right: 0;
    padding: 10px;
    z-index: 3; */
  }
  .infocontainer {
    flex-grow: 1;
    overflow-y: auto;
  }
  .info_scroll {
    width: 1100px;
    padding-top: 134px;
    padding-bottom: 40px;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 0.5rem;
    padding-right: -2.5rem;
  }
  