.notificationOverviewnNav{
    background-color: rgba(240, 244, 252, 1);
    height: 40px;
    width: 1040px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    font-weight: 700;
    position: fixed;
    z-index: 13;
  }
  .notificationOverviewnNav a{
    color: #000;
  }
  .icon{
    margin-left: 5px;
    margin-right: 5px;
  }


/* Notification settings navigation */
.NotificationNav{
    display: flex;
    align-items: center;
    background-color: #F0F4FC;
    width: 1040px;
    height: 44px;
    padding-left: 10px;
}

.NotificationNav a{
    text-decoration: none;
    color: #010E2A;
    font-size: 14px;
    font-weight: 700;
}

.arrowFoward{
    height: 15px;
    width: 10px;
    padding: 5px;
}
.settings_btn{
    border: 1px solid #000000;
    display: flex;
    align-items: center;
    max-height: 45px;
    justify-content: space-between;
    padding: 40px 15px 23px 15px;
    width: 1040px;
    background-color: #FFFFFE;
    z-index: 3;
    margin-top: 4rem;
    /* border: 1px solid #000000;
    display: flex;
    align-items: center;
    max-height: 35px;
    justify-content: space-between;
    margin-top: 1.1rem;
    padding: 17px 30px 7px 30px;
    width: 975px;
    background-color: #FFFFFE;
    z-index: 3; */
}
.settings_btn_container{
    background-color: #FFFFFE;
    z-index: 3;
    /* height: 70px; */
    /* margin-top: 5rem; */
    position: fixed;
    /* background-color: #FFFFFE;
    z-index: 3;
    height: 70px;
    margin-top: -5.6rem;
    margin-left: -.2rem;
    position: fixed; */
}

.activeSetting{
    border-right: 1px solid black;
    border-top: 1px solid black;
    border-left: 1px solid black;
    padding: 14px 20px;
    border-bottom: 4px solid white;
    color: #010E2A;
    font-size: 15px;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.notificationBlock{
    margin-top: 9rem;
    margin-bottom: 3rem;
}

.emailNotificationBlock, .pushNotificationBlock{
    display: flex;
    justify-content: space-between;
    width: 900px;
    /* margin-top: 2rem; */

}

.emailNotificationBlock{
    margin-bottom: 3rem;
}

/* .emailBlock{
    margin-top: 4rem;
} */
.emailBlock h4, .pushBlock h4{
    font-size: 13px;
    font-weight: 800;
    margin-bottom: 8px;

}

.emailBlock p, .pushBlock p{
    font-size: 13px;
    max-width: 324px;
    color: grey;

}

.notification{
    display: flex;
    /* margin-bottom: 15px; */
    margin-top: 1rem;

}

.notification Button{
    width: 59px;
    height: 33px;
}

.notificationText{
    margin-left: 18px;
    width: 300px;
}
.notificationText h5{
    font-weight: 700;
}
.notificationText p {
    font-size: 13px;
    margin-top: 3px;
    color: grey;
}