  .container {
    position: relative;
    width: 60px;
    height: 32px;
    background-color: rgb(211, 210, 210);
    cursor: pointer;
    user-select: none;
    border-radius: 10px;
    padding: 1px 1px 1px 7px;
    align-items: center;
    display: flex;
  }

  .iconContainer{
    padding: 5px;
    width: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .disableBlock{
    background-color: white;
    border-radius: 7px;
    width: 25px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .disableIcon{
    transition: all 0.2s ease-in-out;
  }
  .Switch_icon{
    font-size: 12px;
  }
  .active{
    transition: all 0.4s ease-in-out;
    background-color: white;
    border-radius: 7px;
    width: 22px;
  }

 
  
